.about-section {
  min-height: 90vh;
  background: #0b0b12;
  padding: 50px 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.about-text h2 {
  font-size: 44px;
  color: cyan;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.about-text p {
  color: #ccc;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 18px;
}

.about-text span {
  color: white;
  font-weight: bold;
}

.about-text b {
  color: cyan;
}

.btn {
  display: inline-block;
  margin-top: 12px;
  padding: 10px 22px;
  color: black;
  background: cyan;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #00ffffcc;
  transform: translateY(-3px);
}

.about-image img {
  width: 100%;
  max-width: 320px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.4);
}
