.skills-section {
  min-height: 100vh;
  background: #0b0b12;
  padding: 50px 8%;
  text-align: center;
}

.skills-title {
  color: white;
  font-size: 48px;
  margin-bottom: 80px;
}

.skills-grid {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* RING CONTAINER */
.ring {
  width: 160px;
  height: 160px;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RING BORDER (FLUID) */
.ring::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;

  background: conic-gradient(
    var(--color) calc(var(--value) * 1%),
    #111 0%
  );

  /* CUT CENTER */
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent 64%,
    black 65%
  );
  mask: radial-gradient(
    farthest-side,
    transparent 64%,
    black 65%
  );

  box-shadow: 0 0 30px var(--color);
  transition: background 0.2s ;
}

/* CENTER NUMBER (VISIBLE FIX) */
.ring span {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 26px;
  font-weight: bold;
}

/* LABEL */
.skill-card p {
  margin-top: 20px;
  color: #cfcfcf;
  font-size: 18px;
}
